*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(background.png);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    box-sizing: border-box;
}
.navbar{
    height: 20%;
    display: false;
    align-items: center;
}

nav{
   flex: 1; 
   text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 45px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: medium;
}
.li1{
    text-decoration: none;
    color: rgb(14, 13, 13);
    background-color: #fff;
    font-size: large;

}
.li2{
    text-decoration: none;
    color: rgb(249, 247, 247);
    background-color: rgb(9, 0, 0);
    font-size: large;

}
.li3{
    text-decoration: none;
    color: rgb(12, 239, 92);
    background-color: rgb(11, 6, 6);
    font-size: large;

}
.li4{
    text-decoration: none;
    color: rgb(14, 13, 13);
    background-color: rgb(202, 250, 98);
    font-size: large;

}